:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-dark-theme-color: #ffffff;
  --title-light-theme-color: #303030;
  --modal-btn-dark-theme-color: #ffffff;
  --modal-btn-light-theme-color: #303030;
  --text-dark-theme-color: #9da4bd;
  --text-light-theme-color: #555555;
  --accent-color: #ff6c00;
}

body {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--text-light-theme-color);
}

/* RESET */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

/* RESET END */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER */

.header-container {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 132px;
}

.navigation {
  margin-right: auto;
}

.navigation-list-item:not(:last-child) {
  margin-right: 30px;
}

.header-adress {
  margin-right: 40px;
}

.navigation-list-link,
.header-tel,
.modal-btn {
  display: block;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: var(--title-dark-theme-color); */
}

.modal-btn {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
}

.navigation-list-link:focus,
.navigation-list-link:hover,
.header-tel:focus,
.header-tel:hover {
  color: var(--accent-color);
}

.navigation-list-link,
.header-tel {
  padding: 52px 0;
}

.header-tel {
  text-transform: uppercase;
}

.modal-btn {
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* HERO SECTION */

.hero-container {
  display: flex;
}

.hero-slider {
  background-color: var(--modal-btn-light-theme-color);
  flex-grow: 1;
  padding-left: 100px;
  padding-top: 272px;
  padding-bottom: 206px;
}

.social-links-item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-light-theme-color);
}

.social-links {
  display: flex;
}

/* .social-links-item:not(:last-child) {
  margin-right: 40px;
} */

.social-links-item-link:hover,
.social-links-item-link:focus {
  color: var(--accent-color);
}

.subtitle-dark {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-dark-theme-color);
}

.hero-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: var(--title-dark-theme-color);
}

.description {
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

/* ABOUT US SECTION */

.about-us .container {
  display: flex;
  gap: 30px;
}

.about-us-list {
  display: flex;
  gap: 30px;
}

.about-us-content {
  max-width: 474px;
}

.subtitle-light {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--title-light-theme-color);
}

.title-light {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--title-light-theme-color);
}

.description-light {
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-light-theme-color);
  margin-bottom: 20px;
}

.about-us .text {
  margin-bottom: 42px;
  width: 470px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-light-theme-color);
}

.about-us .modal-btn {
  color: var(--modal-btn-light-theme-color);
}

/* Services and prices */

.title-dark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  /* color: var(--title-dark-theme-color); */
  margin-bottom: 44px;
}

.price-block {
  display: flex;
  margin-bottom: 44px;
  justify-content: space-between;
}

.services-list {
  flex-basis: 570px;
  padding: 30px 20px;
  /* background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%); */
}

.services-list-item {
  display: flex;
  justify-content: space-between;
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list-item-name,
.services-list-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

.services-modal-btn {
  display: block;
  margin: 0 auto;
  /* color: var(--modal-btn-dark-theme-color); */
}

/* Why are we */

.why-are-we-container {
  display: flex;
}

.why-are-we-wrapper {
  display: flex;
  margin-right: 130px;
}

.why-are-we-list:nth-child(even) {
  margin-top: 54px;
}

.why-are-we-list:not(:nth-child(even)) {
  margin-right: 30px;
}

.why-are-we-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.why-are-we-list-item {
  max-width: 170px;
  padding-top: 20px;
  padding-right: 21px;
  padding-bottom: 20px;
  padding-left: 21px;
  background-color: #f7f7f7;
}

.why-are-we-list-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-light-theme-color);
}

.why-are-we-list-item-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-light-theme-color);
}

.why-are-we .title {
  max-width: 430px;
  margin-bottom: 20px;
  color: var(--title-light-theme-color);
}

.why-are-we .description-light {
  max-width: 500px;
}

.symbol-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

/* Our masters */

.masters .title-light {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  gap: 30px;
}

.masters-list-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.team-wrapper {
  padding: 30px 10px 0;
}

.masters-list-item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--title-light-theme-color);
}

.masters-list-item-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

/* GALLERY */

.gallery .subtitle-light {
  margin-bottom: 44px;
  color: var(--title-light-theme-color);
}

.gallery-list {
  display: flex;
  gap: 30px;
}

.gallery-list-item {
  flex-basis: calc((100% - 30px * 3) / 4);
}

/* CONTACTS */

.contact .container {
  display: flex;
}
.contact-form {
  margin-right: 359px;
}

.contact-title {
  margin-bottom: 232px;
}

.contacts-list {
  margin-bottom: 70px;
}

.contact-list-item:not(:last-child) {
  margin-top: 40px;
  margin-bottom: 20px;
}

.contact-modal-btn {
  max-width: 160px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  padding: 12px 38px;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
}

.contact-list-item-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

.contact-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

/* FOOTER */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-dark-theme-color);
}
