.about {
  @include section;
}

.about-us {
  display: flex;
  gap: 30px;
}

.about-us-list {
  display: flex;
  gap: 30px;
}

.about-us-list-item {
  overflow: hidden;

  &:hover .about-img {
    transform: scale(1.2);
  }
}

.about-img {
  transition: transform 1000ms ease;
}

.about-us-content {
  max-width: 474px;
}

.about-us .text {
  margin-bottom: 42px;
  width: 470px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-light-theme-color);
}
