.footer {
  @include mq(tablet, max) {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;

  @include mq(tablet) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-dark-theme-color);

  @include mq(tablet, max) {
    margin-top: 20px;
  }
}

.footer-social-links-item-link {
  @include mq(tablet) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer-social-links {
  @include mq(tablet, max) {
    align-self: flex-end;
  }
}
