.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--title-light-theme-color);
  background-color: var(--title-dark-theme-color);
  border-radius: 50%;

  transition: color var(--trns-slow);

  &:hover,
  &:focus {
    color: #ff6c00;
  }
}

.social-list-item-link-svg {
  fill: currentColor;
}
