.logo__img {
  fill: var(--title-dark-theme-color);
  transition: fill var(--trns-fast);

  @media screen and (min-width: $tablet) {
    fill: var(--title-light-theme-color);
  }

  .header--transparent & {
    fill: var(--title-dark-theme-color);
  }
}
