.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &-dark {
    color: var(--text-dark-theme-color);
  }

  &-light {
    color: var(--title-light-theme-color);
  }

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: var(--text-dark-theme-color);
  }
}

.hero-title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;

  color: var(--title-dark-theme-color);
}

.description {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);

  &-light {
    color: var(--text-light-theme-color);
    margin-bottom: 20px;
  }
}

.title-light {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  margin-bottom: 20px;
  color: var(--title-light-theme-color);
}

.title-dark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-dark-theme-color);
  margin-bottom: 44px;
}
