html {
  scroll-behavior: smooth;
}

body {
  // background-color: var(--title-dark-theme-color);
  font-family: var(--main-font);
  color: var(--text-light-theme-color);

  font-size: 18px;
  line-height: calc(30 / 18);
  // letter-spacing: normal;
}
